social-model/src/main/resources/WindMobileSocial.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    jaxb:version="2.1" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:extensionBindingPrefixes="xjc">

    <!-- Root element -->
    <xs:element name="user" type="User" />

    <xs:complexType name="User">
        <xs:all>
            <xs:element name="email" type="xs:string" />
            <xs:element name="pseudo" type="xs:string" />
            <xs:element name="fullName" type="xs:string" />
        </xs:all>
    </xs:complexType>
</xs:schema>